<h1>Game of 'Battle'</h1>

<h1 id="namesEntered">
  <%=`Player 1: ${player1Name} -> HP: ${hpPlayer1}` %> <br />
  <%= `Player 2: ${player2Name} -> HP: ${hpPlayer2}` %>
</h1>

<form action="/attack" method="POST">
  <button id="reducePoint">Attack</button>
</form>

<h3 id="attackMessage"><%= `${attackMessage}` %></h3>
