<h1>Game of 'Battle'</h1>

<h1 id="namesEntered">
  <%=`Player 1: ${player1Name} -> HP: ${hpPlayer1}` %> <br />
  <%= `Player 2: CPU -> HP: ${CPU}` %>
</h1>

<form action="/attack" method="POST">
  <button id="reducePoint">Normal Attack</button>
</form>
<form action="/paralyse" method="POST">
    <button id="paralyse">Paralyse Attack</button>
  </form>
<form action="/poison" method="POST">
<button id="poison">Poison Attack</button>
</form>
<form action="/heal" method="POST">
    <button id="heal">Healing Attack</button>
    </form>

<h3 id="attackMessage"><%= `${attackMessage}` %></h3>