<h1>Game of 'Battle'</h1>
<form action="/" method="POST">
<input type="text" id='player1Name' name='player1Name' placeholder="Enter name of Player1">
<input type="text" id='hpPlayer1' name='hpPlayer1'>
<input type="text" id='player2Name' name='player2Name' placeholder="Enter name of Player2">
<input type="submit" value='Submit' id='submitButton'>
</form>